body {
    font-family: "Kanit", sans-serif;
    background-color: #7c3626;
    color: #130303;
    margin: 0;
    padding: 0;
  }

  .logo_container{
    margin-left: 20px;
  }
  
  .logo_container img{
    scale: 2;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: #2d080a;
    color: #ffcdbc;
  }
  
  header ul {
    display: flex;
    gap: 30px;
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
  }

  header ul li{
    margin-bottom: 0;
  }
  
  header .logo_container img {
    width: 70px;
  }

  header a{
    text-decoration: none;
    font-size: 20px;
    color: white;
  }
  
  header a:hover{
    color: #DD7115;
  }
  
  .recetaIndividual {
    text-align: center;
  }
  
  .recetaIndividual img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
  }
  
  .recetaIndividual div {
    background-color: #7c3626;
    color: #ffcdbc;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    width: 70%;
  }
  
  h1 {
    font-size: 48px;
    margin-bottom: 10px;
    margin-top: 0;
  }

  h2{
    margin-top: 15px;
    margin-bottom: 5px;
  }
  
  h5 {
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 700;
  }

  .cookingTime{
    font-weight: 700;
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 40px;
  }

  .ingredients{
    margin-top: 40px;
  }

  ul {
    text-align: center;
    list-style: none;
    margin-bottom: 20px;
    padding: 0;
  }
  
  li{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-bottom: 10px;
  }

  p {
    margin: 10px 0;
    font-size: 18px;
  }
  
  button {
    background-color: #DD7115;
    border: none;
    padding: 15px 25px;
    font-size: 20px;
    font-weight: bold;
    color: #130303;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  button a {
    text-decoration: none;
    color: white;
  }
  
  button:hover {
    background-color: #2d080a;
    color: #ffcdbc;
  }

  .bold{
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.5px;
  }